body{
    background: #4D2959;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.contentMax{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.title{
    color: white;
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(to right, white,#806f87);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.subTitle{
    color: white;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    padding: 10px;
}
.btnl{
    width: 150px;
    height: 50px;
    background-color: rgb(170, 149, 157, 0.9);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.btnr{
    width: 150px;
    height: 50px;
    background-color: #80616D;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.contentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    gap: 20px;
    
}
.contentMin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    padding: 25px;
}

//incluir media queries