.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.descrip-content{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 16px;
}
.img-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 1px;
}
.like-content{
    margin-top: 2%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 5%;
    border-bottom: 0.5px solid #4D2959;
    padding-bottom: 1%;
}
button{
    background: transparent;
    color: black;
    font-size: 16px;
}
p{
    color: black;
}
.image{
    width: 25px;
    height: 25px;
}
img{
    width: 80px;
    height: 70px;
}
.icono-content{
    // position: absolute;
    display: flex;
    justify-content: flex-start;
    // align-items: ;
    width: 10%;
    // background-color: red;
}
.icono-contentt{
    // position: absolute;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    width: 10%;
    // background: blue;
}
.icono-search{
    width: 50px;
    height: 50px;
}
.comments{
    width: 90%;
    display: flex;
}
.text-comments{
    color: #4D2959;
    font-size: 11px;
    font-weight: bold;
}
.btn-fav{
    border-radius: 100%;
    padding: 5px 8px;
}
.btn-like{
    border-radius: 100%;
    padding: 5px 8px;
}
.day-name{
    display: flex;
    justify-content: space-between;
    opacity: 0.4;
    color: black;
    font-size: small;
    margin-bottom: 1%;
}
