<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div>
    <div class="MaxA">
      <div class="icono-content">
        <button [routerLink]="['/feed']" class="btn-icono">
          <img src="../../../assets/chevron-back-outline.svg">
      </button>
      </div>
      <h3 class="title">Create new post</h3>
    </div>
    <div class="MaxB">
      <input type="text" class="input" [(ngModel)]="textInput" (input)="countCharacters()" maxlength="400">
      <!-- placeholder="What’s on your mind?" -->
      <div class="contador">
        <p>Characters: {{characters}}</p>
      </div>
    </div>

    <div class="MaxC">

      <div class="tack">
        <p class="select">Select images from your gallery</p>
        <div>
          <p>5/8</p>
        </div>
        <img src="../../../assets/chevron-down-outline.svg">
      </div>

      <div class="img">
        <img src="../../../assets/img-1.png" class="image">
        <img src="../../../assets/img-2.png" class="image">
        <img src="../../../assets/img-3.png" class="image">
        <img src="../../../assets/img-4.png" class="image">
        <img src="../../../assets/img-5.png" class="image">
        <div class="as">
          <input type="file" (change)="uploadImage($event)">
        </div>

      </div>
    </div>
    <div class="post">
        <button class="btn-post"><p class="text-post">Post it!</p></button>
    </div>
  </div>
</body>
</html>